/* .poskonten {
    margin: auto;
    position: relative;
    top: 150px;
    left: 60px;
    /* border: 1px solid black;    */

li {
  padding-bottom: 20px;
}

td {
    padding: 30px;
    border: 1px solid black;
}

    /* primary-lighter-hover {
        color: #4285F4;
        -webkit-transition: .4s;
        transition: .4s; }
    .primary-lighter-hover:hover {
        -webkit-transition: .4s;
        transition: .4s;
        color: #8ab4f8; } */

    .cyan-lighter-hover {
        color: #00bcd4;
        -webkit-transition: .4s;
        transition: .4s; }
    .cyan-lighter-hover:hover {
        -webkit-transition: .4s;
        transition: .4s;
        color: #22e6ff; }
  
  /* .primary-darker-hover {
    color: #4285F4;
    -webkit-transition: .4s;
    transition: .4s; }
  .primary-darker-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #0d5bdd; }
  
  .danger-lighter-hover {
    color: #ff3547;
    -webkit-transition: .4s;
    transition: .4s; }
  .danger-lighter-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #ff828d; }
  
  .danger-darker-hover {
    color: #ff3547;
    -webkit-transition: .4s;
    transition: .4s; }
  .danger-darker-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #e80015; }
  
  .warning-lighter-hover {
    color: #FF8800;
    -webkit-transition: .4s;
    transition: .4s; }
  .warning-lighter-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #ffac4d; }
  
  .warning-darker-hover {
    color: #FF8800;
    -webkit-transition: .4s;
    transition: .4s; }
  .warning-darker-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #b35f00; }
  
  .success-lighter-hover {
    color: #00C851;
    -webkit-transition: .4s;
    transition: .4s; }
  .success-lighter-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #16ff74; }
  
  .success-darker-hover {
    color: #00C851;
    -webkit-transition: .4s;
    transition: .4s; }
  .success-darker-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #007c32; }
  
  .info-lighter-hover {
    color: #33b5e5;
    -webkit-transition: .4s;
    transition: .4s; }
  .info-lighter-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #77ceee; }
  
  .info-darker-hover {
    color: #33b5e5;
    -webkit-transition: .4s;
    transition: .4s; }
  .info-darker-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #178ab4; }
  
  .default-lighter-hover {
    color: #2BBBAD;
    -webkit-transition: .4s;
    transition: .4s; }
  .default-lighter-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #5ad9cd; }
  
  .default-darker-hover {
    color: #2BBBAD;
    -webkit-transition: .4s;
    transition: .4s; }
  .default-darker-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #1d7d73; }
  
  .secondary-lighter-hover {
    color: #aa66cc;
    -webkit-transition: .4s;
    transition: .4s; }
  .secondary-lighter-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #ca9fdf; }
  
  .secondary-darker-hover {
    color: #aa66cc;
    -webkit-transition: .4s;
    transition: .4s; }
  .secondary-darker-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #8639ac; }
  
  .elegant-lighter-hover {
    color: #2E2E2E;
    -webkit-transition: .4s;
    transition: .4s; }
  .elegant-lighter-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #545454; }
  
  .elegant-darker-hover {
    color: #2E2E2E;
    -webkit-transition: .4s;
    transition: .4s; }
  .elegant-darker-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #080808; }
  
  .unique-lighter-hover {
    color: #880e4f;
    -webkit-transition: .4s;
    transition: .4s; }
  .unique-lighter-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #cd1577; }
  
  .unique-darker-hover {
    color: #880e4f;
    -webkit-transition: .4s;
    transition: .4s; }
  .unique-darker-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #430727; }
  
  .dark-green-lighter-hover {
    color: #388E3C;
    -webkit-transition: .4s;
    transition: .4s; }
  .dark-green-lighter-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #56bc5b; }
  
  .dark-green-darker-hover {
    color: #388E3C;
    -webkit-transition: .4s;
    transition: .4s; }
  .dark-green-darker-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #225725; }
  
  .mdb-color-lighter-hover {
    color: #59698D;
    -webkit-transition: .4s;
    transition: .4s; }
  .mdb-color-lighter-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #8290b0; }
  
  .mdb-color-darker-hover {
    color: #59698D;
    -webkit-transition: .4s;
    transition: .4s; }
  .mdb-color-darker-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #3b465e; }
  
  .red-lighter-hover {
    color: #D32F2F;
    -webkit-transition: .4s;
    transition: .4s; }
  .red-lighter-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #e06e6e; }
  
  .red-darker-hover {
    color: #D32F2F;
    -webkit-transition: .4s;
    transition: .4s; }
  .red-darker-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #962020; }
  
  .pink-lighter-hover {
    color: #ec407a;
    -webkit-transition: .4s;
    transition: .4s; }
  .pink-lighter-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #f386aa; }
  
  .pink-darker-hover {
    color: #ec407a;
    -webkit-transition: .4s;
    transition: .4s; }
  .pink-darker-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #cb1452; }
  
  .purple-lighter-hover {
    color: #8e24aa;
    -webkit-transition: .4s;
    transition: .4s; }
  .purple-lighter-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #b843d7; }
  
  .purple-darker-hover {
    color: #8e24aa;
    -webkit-transition: .4s;
    transition: .4s; }
  .purple-darker-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #59176b; }
  
  .deep-purple-lighter-hover {
    color: #512da8;
    -webkit-transition: .4s;
    transition: .4s; }
  .deep-purple-lighter-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #7651d0; }
  
  .deep-purple-darker-hover {
    color: #512da8;
    -webkit-transition: .4s;
    transition: .4s; }
  .deep-purple-darker-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #341d6c; }
  
  .indigo-lighter-hover {
    color: #3f51b5;
    -webkit-transition: .4s;
    transition: .4s; }
  .indigo-lighter-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #7280ce; }
  
  .indigo-darker-hover {
    color: #3f51b5;
    -webkit-transition: .4s;
    transition: .4s; }
  .indigo-darker-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #2b387c; }
  
  .blue-lighter-hover {
    color: #1976D2;
    -webkit-transition: .4s;
    transition: .4s; }
  .blue-lighter-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #4e9cea; }
  
  .blue-darker-hover {
    color: #1976D2;
    -webkit-transition: .4s;
    transition: .4s; }
  .blue-darker-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #11508e; }
  
  .light-blue-lighter-hover {
    color: #82B1FF;
    -webkit-transition: .4s;
    transition: .4s; }
  .light-blue-lighter-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #cfe1ff; }
  
  .light-blue-darker-hover {
    color: #82B1FF;
    -webkit-transition: .4s;
    transition: .4s; }
  .light-blue-darker-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #3681ff; }
  
 
  
  .cyan-darker-hover {
    color: #00bcd4;
    -webkit-transition: .4s;
    transition: .4s; }
  .cyan-darker-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #007888; }
  
  .teal-lighter-hover {
    color: #00796b;
    -webkit-transition: .4s;
    transition: .4s; }
  .teal-lighter-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #00c6af; }
  
  .teal-darker-hover {
    color: #00796b;
    -webkit-transition: .4s;
    transition: .4s; }
  .teal-darker-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #002d27; }
  
  .green-lighter-hover {
    color: #388E3C;
    -webkit-transition: .4s;
    transition: .4s; }
  .green-lighter-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #56bc5b; }
  
  .green-darker-hover {
    color: #388E3C;
    -webkit-transition: .4s;
    transition: .4s; }
  .green-darker-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #225725; }
  
  .light-green-lighter-hover {
    color: #8bc34a;
    -webkit-transition: .4s;
    transition: .4s; }
  .light-green-lighter-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #b0d683; }
  
  .light-green-darker-hover {
    color: #8bc34a;
    -webkit-transition: .4s;
    transition: .4s; }
  .light-green-darker-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #649130; }
  
  .lime-lighter-hover {
    color: #afb42b;
    -webkit-transition: .4s;
    transition: .4s; }
  .lime-lighter-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #d2d655; }
  
  .lime-darker-hover {
    color: #afb42b;
    -webkit-transition: .4s;
    transition: .4s; }
  .lime-darker-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #73761c; }
  
  .yellow-lighter-hover {
    color: #fbc02d;
    -webkit-transition: .4s;
    transition: .4s; }
  .yellow-lighter-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #fcd778; }
  
  .yellow-darker-hover {
    color: #fbc02d;
    -webkit-transition: .4s;
    transition: .4s; }
  .yellow-darker-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #d79b04; }
  
  .amber-lighter-hover {
    color: #ffa000;
    -webkit-transition: .4s;
    transition: .4s; }
  .amber-lighter-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #ffbd4d; }
  
  .amber-darker-hover {
    color: #ffa000;
    -webkit-transition: .4s;
    transition: .4s; }
  .amber-darker-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #b37000; }
  
  .orange-lighter-hover {
    color: #f57c00;
    -webkit-transition: .4s;
    transition: .4s; }
  .orange-lighter-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #ffa243; }
  
  .orange-darker-hover {
    color: #f57c00;
    -webkit-transition: .4s;
    transition: .4s; }
  .orange-darker-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #a95500; }
  
  .deep-orange-lighter-hover {
    color: #ff7043;
    -webkit-transition: .4s;
    transition: .4s; }
  .deep-orange-lighter-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #ffaa90; }
  
  .deep-orange-darker-hover {
    color: #ff7043;
    -webkit-transition: .4s;
    transition: .4s; }
  .deep-orange-darker-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #f63b00; }
  
  .brown-lighter-hover {
    color: #795548;
    -webkit-transition: .4s;
    transition: .4s; }
  .brown-lighter-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #a57868; }
  
  .brown-darker-hover {
    color: #795548;
    -webkit-transition: .4s;
    transition: .4s; }
  .brown-darker-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #49332b; }
  
  .grey-lighter-hover {
    color: #616161;
    -webkit-transition: .4s;
    transition: .4s; }
  .grey-lighter-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #878787; }
  
  .grey-darker-hover {
    color: #616161;
    -webkit-transition: .4s;
    transition: .4s; }
  .grey-darker-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #3b3b3b; }
  
  .blue-grey-lighter-hover {
    color: #78909c;
    -webkit-transition: .4s;
    transition: .4s; }
  .blue-grey-lighter-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #a4b4bc; }
  
  .blue-grey-darker-hover {
    color: #78909c;
    -webkit-transition: .4s;
    transition: .4s; }
  .blue-grey-darker-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #546973; }
  
  .white-lighter-hover {
    color: #fff;
    -webkit-transition: .4s;
    transition: .4s; }
  .white-lighter-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: white; }
  
  .white-darker-hover {
    color: #fff;
    -webkit-transition: .4s;
    transition: .4s; }
  .white-darker-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #d9d9d9; }
  
  .black-lighter-hover {
    color: #000;
    -webkit-transition: .4s;
    transition: .4s; }
  .black-lighter-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #262626; }
  
  .black-darker-hover {
    color: #000;
    -webkit-transition: .4s;
    transition: .4s; }
  .black-darker-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: black; } */