<div class="container">
        <div class="row text-center mt-5 pt-5 form-inline md-form mr-auto ">
            <div class="col-lg-1"></div>
            <div class="col-lg-10 text-center">
                <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                <button class="btn blue-gradient btn-rounded btn-sm my-0 waves-effect waves-light" type="submit">Search</button>
            </div>
        </div>
    
        <div class="row mt-5"></div>
        <div class="row">
            <div class="col-lg-3">
                <div class="">
                    <div class="our-team-main"> 
                        <div class="team-front">
                            <img src="../../assets/images/corperates/jtk.png" class="img-fluid" />
                                <h3>Jurusan Teknik Komputer dan Informatika</h3>
                                <p>Pendidikan</p>
                        </div>    
                        <div class="team-back">
                            <span>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
                            natoque penatibus et magnis dis parturient montes,
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
                            natoque.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="">
                    <div class="our-team-main"> 
                        <div class="team-front">
                            <img src="../../assets/images/corperates/jtk.png" class="img-fluid" />
                                <h3>Jurusan Teknik Komputer dan Informatika</h3>
                                <p>Pendidikan</p>
                        </div>    
                        <div class="team-back">
                            <span>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
                            natoque penatibus et magnis dis parturient montes,
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
                            natoque.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="">
                    <div class="our-team-main"> 
                        <div class="team-front">
                            <img src="../../assets/images/corperates/jtk.png" class="img-fluid" />
                            <h3>Jurusan Teknik Komputer dan Informatika</h3>
                            <p>Pendidikan</p>
                        </div>    
                        <div class="team-back">
                            <span>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
                            natoque penatibus et magnis dis parturient montes,
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
                            natoque.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="">
                    <div class="our-team-main"> 
                        <div class="team-front">
                            <img src="../../assets/images/corperates/jtk.png" class="img-fluid" />
                            <h3>Jurusan Teknik Komputer dan Informatika</h3>
                            <p>Pendidikan</p>
                        </div>    
                        <div class="team-back">
                            <span>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
                            natoque penatibus et magnis dis parturient montes,
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
                            natoque.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-3">
                <div class="">
                    <div class="our-team-main"> 
                        <div class="team-front">
                            <img src="../../assets/images/corperates/jtk.png" class="img-fluid" />
                                <h3>Jurusan Teknik Komputer dan Informatika</h3>
                                <p>Pendidikan</p>
                        </div>    
                        <div class="team-back">
                            <span>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
                            natoque penatibus et magnis dis parturient montes,
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
                            natoque.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="">
                    <div class="our-team-main"> 
                        <div class="team-front">
                            <img src="../../assets/images/corperates/jtk.png" class="img-fluid" />
                                <h3>Jurusan Teknik Komputer dan Informatika</h3>
                                <p>Pendidikan</p>
                        </div>    
                        <div class="team-back">
                            <span>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
                            natoque penatibus et magnis dis parturient montes,
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
                            natoque.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="">
                    <div class="our-team-main"> 
                        <div class="team-front">
                            <img src="../../assets/images/corperates/jtk.png" class="img-fluid" />
                            <h3>Jurusan Teknik Komputer dan Informatika</h3>
                            <p>Pendidikan</p>
                        </div>    
                        <div class="team-back">
                            <span>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
                            natoque penatibus et magnis dis parturient montes,
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
                            natoque.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="">
                    <div class="our-team-main"> 
                        <div class="team-front">
                            <img src="../../assets/images/corperates/jtk.png" class="img-fluid" />
                                <h3>Jurusan Teknik Komputer dan Informatika</h3>
                                <p>Pendidikan</p>
                        </div>    
                        <div class="team-back">
                            <span>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
                            natoque penatibus et magnis dis parturient montes,
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
                            natoque.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="container">
    <div class="row text-center mt-5 pt-5 form-inline md-form mr-auto ">
        <div class="col-lg-1"></div>
        <div class="col-lg-10 text-center">
            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            <button class="btn blue-gradient btn-rounded btn-sm my-0 waves-effect waves-light" type="submit">Search</button>
        </div>
    </div>

    <div class="row mt-5"></div>
    <div class="row">
        <div class="col-lg-3"><img  src="src/assets/himakom.png" alt="not found"></div>
        <div class="col-lg-3"><img  src="src/assets/himakom.png" alt="not found"></div>
        <div class="col-lg-3"><img  src="src/assets/himakom.png" alt="not found"></div>
        <div class="col-lg-3"><img  src="src/assets/himakom.png" alt="not found"></div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-3"><img  src="src/assets/himakom.png" alt="not found"></div>
        <div class="col-lg-3"><img  src="src/assets/himakom.png" alt="not found"></div>
        <div class="col-lg-3"><img  src="src/assets/himakom.png" alt="not found"></div>
        <div class="col-lg-3"><img  src="src/assets/himakom.png" alt="not found"></div>
    </div>
</div>