<div>
  <div>
    <img src="src/assets/bg.png" id="bg" class="scrollto clearfix" alt="not found">
  </div>

  <!-- Ersaad -->
  <div>
    <div class="row">
      <div class="col-lg-12 mt-5 mb-5 pt-4"></div>
        <div class="col-lg-6 text-white" style="color:darkslategray">
          <h1 class="font-weight-bold">Sali</h1>
          <h3>Sertifikat Online Berbasis Blockchain Pertama di Indonesia</h3>
        </div>
    <!-- <div class="row border"> -->
      <div class="col-lg-2"></div>
        <div class="col-lg-3 text-center card signup animated fadeIn text-white">
          <div class="card blue-gradient cardheader pt-3">
            <h3>SIGN UP</h3>
          </div>
          <div class="card-body shadow" style="padding: 20px;">
            <label for="email">Email</label>
            <input class="form-control" type="text" id="email"><br>
            <label for="pass">Password</label>
            <input class="form-control" type="password" id="pass"><br>
            <label for="repass">Re-type Password</label>
            <input class="form-control" type="password" id="repass">
          </div>
          <div class="card-footer">
            <div class="col-lg-12">
              <br><button type="submit" class="btn btn-primary btn-md" style="border: 0px;">Sign Up</button>
              <!-- <button type="submit" class="btn btn-primary btn-md" style="border: 0px;">Submit</button>
              <button type="reset" class="btn btn-default btn-md" style="border: 0px;">Cancel</button> -->
              <br><br><p>Sudah memiliki akun? <a href="login.html">Masuk</a></p>
            </div>
          </div>
        </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</div>